{% extends '_layout.html' %}

{% block body %}

<link rel="stylesheet" href="/static/styles/account.css">
<!-- content -->

<body>
  <section class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          {{g.user.username}}'s Profile
        </h1>
        <h2 class="subtitle">
          You are user number #{{g.user.user_id}}
        </h2>
        <form action="/logout">
          <button class="button is-danger" type="submit">Logout</button>
        </form>
      </div>
    </div>
  </section>
</body>

{% endblock %}