{% extends '_layout.html' %}

{% block nav %} 
    <div class="navbar-nav"></div>
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link" href="/feed">Feed</a>
        <a class="nav-link" href="/account">Account</a>
        <!-- <a class="nav-link" href="/login">Login</a> -->
        <!-- <a class="nav-link" href="/register">Register</a> -->
	</div> 
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="/static/styles/account.css">
    <!-- content -->
    <body>
        <section class="hero is-success is-fullheight">
          <div class="hero-body">
            <div class="container">
              <h1 class="title">
                {{g.user.username}}'s Profile
              </h1>
              <h2 class="subtitle">
                You are user number #{{g.user.id}}
              </h2>
            </div>
          </div>
        </section>
      </body>


{% endblock %}