{% block business_body %}

<link rel="stylesheet" href="/static/styles/business_profile.css">
<!-- business body -->

<body>
    <section class="">
        <div class="container">
            <div class="secondary-container">
                <div class="header">
                    <div class="banner">
                        <img src="/static/images/sample_banner1.jpg" alt="banner">
                    </div>
                    <div class="z-2 rounded-3 avatar">
                        <img src="/static/images/barhops_logo.png" alt="">
                    </div>
                    <div class="bottom">
                        <div class="links">
                            <a href="/account">REVIEWS</a>
                            <a href="/account">EVENTS</a>
                            <span id="rating">
                                {% for r in range(rating) %}
                                <img src="/static/images/filled-star_blue.png" alt="star" width="25" height="25">
                                {% endfor %}
                                {% for r in range(5-rating) %}
                                <img src="/static/images/empty-star_blue.png" alt="star" width="25" height="25">
                                {% endfor %}
                            </span>
                            <a href="/account">FEATURES</a>
                            <a href="/account">MENU</a>
                        </div>
                        <!-- <div class="z-2 rounded-3 avatar">
                            <img src="/static/images/barhops_logo.png" alt="">
                        </div>
                        <div class="bottom">
                            <div class="links">
                                <a href="/account">REVIEWS</a>
                                <a href="/account">EVENTS</a>
                                <span id="rating">
                                    <img src="/static/images/filled-star_blue.png" alt="star" width="25" height="25">
                                    <img src="/static/images/filled-star_blue.png" alt="star" width="25" height="25">
                                    <img src="/static/images/filled-star_blue.png" alt="star" width="25" height="25">
                                    <img src="/static/images/filled-star_blue.png" alt="star" width="25" height="25">
                                    <img src="/static/images/empty-star_blue.png" alt="star" width="25" height="25">
                                </span>
                                <a href="/account">FEATURES</a>
                                <a href="/account">MENU</a>
                            </div> -->
                            <div class="title pt-3">
                                <h1 class="title">
                                    {{ g.user.username }}
                                </h1>
                            </div>
                            <div class="subtitle">
                                {% if g.user.subtitle %}
                                {{ g.user.subtitle }}
                                {% else %}
                                <p>Nothings here...</p>
                                {% endif %}
                            </div>
                            <div class="description">
                                {% if g.user.about_me %}
                                {{ g.user.about_me }}
                                {% else %}
                                <p>Nothings here...</p>
                                {% endif %}
                            </div>
                            <div class="follow">
                                <button id="follow-btn" class="btn" type="submit">Follow</button>
                            </div>
                        </div>
                    </div>
                    <div class="posts">
                        <form action="/account/edit">
                            <button class="btn btn-warning" type="submit">Edit Account</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

{% endblock %}