{% extends '_layout.html' %}

{% block body %}
<link rel="stylesheet" href="/static/styles/create.css">
<!-- form  -->
<div class-="page-title">
    <h1>Create a Post</h1>
</div>
<div class="d-flex flex-column">
    <form action="/add_post" method="post" enctype="multipart/form-data">
        <!-- input for title of post -->
        <div class="mb-3">
            <!-- <label class="form-label">Title</label> -->
            <input class="form-control" type="text" name="title" placeholder="Title">
        </div>
        <!-- input for post content -->
        <div class="mb-3">
            <!-- <label class="form-label">Content</label> -->
            <textarea class="form-control" name="content" placeholder="Content" rows="4"></textarea>
        </div>
        <!-- input for single file attachment -->
        <div class="mb-3">
            <label class="form-label"></label>
            <input class="form-control" type="file" name="file">
        </div>
        <!-- button for post -->
        <div class="post">
            <button class="btn btn-success" type="submit">Post</button>
        </div>
    </form>
</div>
{% endblock %}