{% extends '_layout.html' %}

{% block body %}

<link rel="stylesheet" href="/static/styles/create.css">
<!-- edit post title content or file -->
<div class="create-card">
    <div>
        <h1 class="page-title">Edit Post</h1>
    </div>
    <div class="create-container">
        <form action="/feed/edit/{{ post.post_id }}" method="post" enctype="multipart/form-data">
            <!-- input for title of post -->
            <div class="title-div">
                <label>Title your post</label>
                <input class="form-control" type="text" name="title" placeholder="Title" value="{{ post.title }}">
            </div>
            <!-- input for post content -->
            <div class="content-div">
                <label>Write something...</label>
                <textarea class="form-control" name="content" placeholder="Content"
                    rows="4">{{ post.content }}</textarea>
            </div>
            <!-- input for single file attachment -->
            <div class="file-div">
                <div class="file-upload-btn-wrapper">
                    <input name="file" type="file" id="myFileInput" accept="image/png, image/jpg, image/jpeg" style="display: none;">
                    <button class="file-btn" onclick="document.getElementById('myFileInput').click(); return false;">
                        <img class="upload-img" src="/static/images/upload_img_icon.png" alt="upload">
                    </button>
                    <span class="upload-label">Upload Image</span>
                </div>
            </div>
            <!-- button for post -->
            <div class="post">
                <button class="post-btn" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}