{% extends '_layout.html' %}

{% block body %}

<!-- edit post title content or file -->
<div class="page-title">
    <h1>Edit Post</h1>
</div>
<div class="d-flex flex-column">
    <form action="/feed/edit/{{ post.post_id }}" method="post" enctype="multipart/form-data">
        <!-- keep the id -->
        <div>
            <input type="hidden" name="post_id" value="{{ post.post_id }}">
        </div>
        <!-- input for title of post -->
        <div class="mb-3">
            <!-- <label class="form-label">Title</label> -->
            <input class="form-control" type="text" name="title" placeholder="Title" value="{{ post.title }}">
        </div>
        <!-- input for post content -->
        <div class="mb-3">
            <!-- <label class="form-label">Content</label> -->
            <textarea class="form-control" name="content" placeholder="Content" rows="4">{{ post.content }}</textarea>
        </div>
        <!-- input for single file attachment -->
        <div class="mb-3">
            <label class="form-label"></label>
            <input class="form-control" type="file" name="file" value="{{ post.file }}">
        </div>
        <!-- button for post -->
        <div class="post">
            <button class="btn btn-success" type="submit">Save</button>
        </div>
    </form>
</div>

{% endblock %}