{% extends '_layout.html' %}

{% block body %}
<link rel="stylesheet" href="/static/styles/feed.css">

<!-- feed -->
<div class="feed">
    <h1>Feed</h1>
    {% if not posts %}
    <p>There are no posts</p>
    {% else %}
    <ul style="list-style-type: none;">
        {% for post in posts %}
        <li>
            <div class="post-card">
                <h1 id="title">{{ post.title }}</h1>
                <p id="content">{{ post.content }}</p>
                <!-- <p>{{ posts.file }}</p> -->
                <div class="post-card-container">

                    <!-- like button, dont even ask bruh -->
                    <button class="btn btn-dark" id="{{ post.post_id }}" for="like"
                    {% for like in likes %}
                        {% if like.post_id == post.post_id and like.user_id == user.user_id %}
                            {% if like.like_type == 1 %}
                                style="color: green;"
                            {% elif like.like_type == -1 %}
                                style="color: red;"
                            {% endif %}
                        {% else %}
                            style="color: white;"
                        {% endif %}
                    {% endfor %}
                    >{{ post.likes }} Likes</button>

                        <form action="/edit" method="post">
                            <input type="hidden" name="post_id" value="{{ post.post_id }}">
                            <button class="btn btn-dark" type="submit" action="/edit_post" method="get">Edit
                                Post</button>
                        </form>
                        <form action="/delete_post" method="post">
                            <input type="hidden" name="post_id" value="{{ post.post_id }}">
                            <button class="btn btn-dark" type="submit" action="/delete_post" method="get">Delete
                                Post</button>
                        </form>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<!-- button to make post -->
<form action="/create" method="get">
    <div class="get_create">
        <button class="btn btn-success" type="submit">Make Post</button>
    </div>
</form>

<script>
    // for each button with for as like
    for (let button of document.querySelectorAll('button[for^="like"]')) {
        let button_id = button.getAttribute('id')
        let timer
        button.addEventListener('click', event => {
            if (event.detail === 1) {
                timer = setTimeout(() => {
                    // single click action
                    console.log("single click")
                    // if the button is green, make it white and change the text to decrement the likes
                    if (document.getElementById(button_id).style.color == "green") {
                        document.getElementById(button_id).style.color = "white";
                        document.getElementById(button_id).innerHTML = parseInt(document.getElementById(button_id).innerHTML) - 1 + " Likes"
                        var request = new XMLHttpRequest()
                        request.open("GET", "/feed/remove_like/" + button_id, true)
                        request.send()
                    } // if the button is red, make it white and change the text to increment the likes
                    else if (document.getElementById(button_id).style.color == "red") {
                        document.getElementById(button_id).style.color = "white";
                        document.getElementById(button_id).innerHTML = parseInt(document.getElementById(button_id).innerHTML) + 1 + " Likes"
                        var request = new XMLHttpRequest()
                        request.open("GET", "/feed/like/" + button_id, true)
                        request.send()
                    } // if the button is white, make it green and change the text to increment the likes
                    else {
                        document.getElementById(button_id).style.color = "green";
                        document.getElementById(button_id).innerHTML = parseInt(document.getElementById(button_id).innerHTML) + 1 + " Likes"
                        var request = new XMLHttpRequest()
                        request.open("GET", "/feed/like/" + button_id, true)
                        request.send()
                    }
                }, 200)
            }
        })
        button.addEventListener('dblclick', event => {
            clearTimeout(timer)
            // double click action
            console.log("double click")
            // if the button is green, make it red and change the text to decrement the likes twice
            if (document.getElementById(button_id).style.color == "green") {
                document.getElementById(button_id).innerHTML = parseInt(document.getElementById(button_id).innerHTML) - 2 + " Likes"
            } // if the button is white, make red and decrement the likes once
            else if (document.getElementById(button_id).style.color == "white") {
                document.getElementById(button_id).innerHTML = parseInt(document.getElementById(button_id).innerHTML) - 1 + " Likes"
            } // if red, do nothing
            document.getElementById(button_id).style.color = "red";
            var request = new XMLHttpRequest()
            request.open("GET", "/feed/dislike/" + button_id, true)
            request.send()
        })
    }
</script>

{% endblock %}