{% extends '_layout.html' %}

{% block body %}
<link rel="stylesheet" href="/static/styles/feed.css">

<script>
function myFunction(id) {
    // this should change the like button
    document.getElementById("like_" + id).style.color = "red";
    var request = new XMLHttpRequest()
    request.open("GET", "/feed/like/1" + id, true)
    request.send()
}
function myOtherFunction(id) {
    //this should change the like button (also toggle)
    if (document.getElementById("like_" + id).style.color == "green" || document.getElementById("like_" + id).style.color == "red") {
        document.getElementById("like_" + id).style.color = "black";
        var request = new XMLHttpRequest()
        request.open("GET", "/feed/like/" + id, true)
        request.send()
    } else {
        document.getElementById("like_" + id).style.color = "green";
        var request = new XMLHttpRequest()
        request.open("GET", "/feed/like/" + id, true)
        request.send()
    }
}
</script>

<!-- feed -->
<div class="feed">
    <h1>Feed</h1>
    {% if not posts %}
    <p>There are no posts</p>
    {% else %}
    <ul style="list-style-type: none;">
        {% for post in posts %}
        <li>
            <div class="post-card">
                <h1 id="title">{{ post.title }}</h1>
                <p id="content">{{ post.content }}</p>
                <!-- <p>{{ posts.file }}</p> -->
                <div class="post-card-container">

                    <!-- need to fix how likes work **** -->
                    <form action="/like_post" method="post">
                        <input type="hidden" name="post_id" value="{{ post.post_id }}">
                        <button class="btn btn-dark" type="submit" action="/like_post" method="post">{{ post.likes }} Likes</button>
                    </form>

                    <!-- like button -->
                    <button id="like_{{ post.post_id }}" onclick="myOtherFunction('{{post.post_id}}')" ondblclick="myFunction('{{post.post_id}}')">Like</button>

                    <form action="/edit" method="post">
                        <input type="hidden" name="post_id" value="{{ post.post_id }}">
                        <button class="btn btn-dark" type="submit" action="/edit_post" method="get">Edit Post</button>
                    </form>
                    <form action="/delete_post" method="post">
                        <input type="hidden" name="post_id" value="{{ post.post_id }}">
                        <button class="btn btn-dark" type="submit" action="/delete_post" method="get">Delete
                            Post</button>
                    </form>
                    <!-- for these there should be a jinja if statement to check if post id matchs user id -->
                    <!-- {% if (posts.user_id == user_id) %} -->
                </div>
            </div>
            <!-- end here -->
            <!-- {% endif %} -->
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<!-- button to make post -->
<form action="/create" method="get">
    <div class="get_create">
        <button class="btn btn-success" type="submit">Make Post</button>
    </div>
</form>

{% endblock %}