{% extends '_layout.html' %}

{% block body %}
<link rel="stylesheet" href="/static/styles/feed.css">
<!-- feed -->
<div class="feed">
    <h1>Feed</h1>
    {% if not posts %}
    <p>There are no posts</p>
    {% else %}
    <ul style="list-style-type: none;">
        {% for post in posts %}
        <li>
            <div class="post-card">
                <h1 id="title">{{ post.title }}</h1>
                <p id="content">{{ post.content }}</p>
                <!-- <p>{{ posts.file }}</p> -->
                <div class="post-card-container">

                    <!-- need to fix how likes work **** -->
                    <form action="/like_post" method="post">
                        <input type="hidden" name="post_id" value="{{ post.post_id }}">
                        <button class="btn btn-dark" type="submit" action="/like_post" method="post">{{ post.likes }} Likes</button>
                    </form>

                    <form action="/edit" method="post">
                        <input type="hidden" name="post_id" value="{{ post.post_id }}">
                        <button class="btn btn-dark" type="submit" action="/edit_post" method="get">Edit Post</button>
                    </form>
                    <form action="/delete_post" method="post">
                        <input type="hidden" name="post_id" value="{{ post.post_id }}">
                        <button class="btn btn-dark" type="submit" action="/delete_post" method="get">Delete
                            Post</button>
                    </form>
                    <!-- for these there should be a jinja if statement to check if post id matchs user id -->
                    <!-- {% if (posts.user_id == user_id) %} -->
                </div>
            </div>
            <!-- end here -->
            <!-- {% endif %} -->
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
<!-- button to make post -->
<form action="/create" method="get">
    <div class="get_create">
        <button class="btn btn-success" type="submit">Make Post</button>
    </div>
</form>

{% endblock %}