<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link rel="stylesheet" href="/static/styles/index.css">
</head>
<body>
    <!-- nav bar -->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">Feed</a></li>
            <li><a href="/contact">Account</a></li>
        </ul>
    </nav>
    <!-- feed -->
    <div class="nav">
        <h1>Location Information</h1>
    </div>
    <div class="feed">
        <h1>This is your feed</h1>
        <ul>
            <li><p>post1</p></li>
            <li><p>post2</p></li>
        </ul>
    </div>

</body>
<footer>
    <p>footer</p>
</footer>
</html>