{% extends '_layout.html' %}

{% block nav %} 


<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    {% if logged_in == False %} 
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/register">Sign Up</a>
    </li>
    </ul>

        {% else %} 
    <li class="nav-item">
        <a class="nav-link" href="/feed">Feed</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/account">Account</a>
    </li>
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
        </form>
    </ul>
    {% endif %}
    
{% endblock %}

{% block body %}
    <link rel="stylesheet" href="/static/styles/index.css">
        <main class=""> 
            <section>
                {% if logged_in != True %}
                <h1 id="welcome">Welcome to BarHive!</h1>
                <form class="pt-3" action="/login" method="get"><button class="btn btn-dark">Login</button></form>
                <form class="pt-3" action="/register" method="get"><button action="/register" class="btn btn-dark">Signup</button></form>
                {% else %}
                <h1 id="welcome">Welcome back, homie!</h1>
                {% endif %}
            </section>
        </main>
{% endblock %}