{% extends '_layout.html' %}

{% block body %}

<link rel="stylesheet" href="/static/styles/index.css">
<main>
    <section>
        {% if logged_in %}
        {% include '_feed.html' %}
        {% else %}
        <div class="landing-msg">
            <h1 class="welcome">Join the world’s fastest growing<br>social media platform that<br>focuses on what really matters:<br>…gettin’ lit.</h1>
            <a href="/register"><button class="join-btn">JOIN</button></a>
        </div>
    </section>
        <div class="buisness-msg">
            <h1 class="buisness-title">Buisnesses</h1>
            <p class="buisness-text">Are you a buisness looking to advertise your venue? <br>Click the button below to learn more about BarHive buisness.</p>
            <a href="/buisness"><button class="buisness-btn">BUISNESS</button></a>
        </div>
        {% endif %}
</main>

{% endblock %}