{% extends '_layout.html' %}

{% block body %}

<!-- login page -->
<link rel="stylesheet" href="/static/styles/login.css">

<body>
  <div class="login-card">
    <div class="left-card">
      <!-- title -->
      <h2>Login to Your Account</h2>
      <!-- buttons for login API's -->
      <div class="social-login">
        <a class="google" href="/googlelogin">
          <script src="https://accounts.google.com/gsi/client" async></script>
          <div id="g_id_onload"
              data-client_id="402126507734-2knh1agkn688s2atb55a5oeu062j89f8.apps.googleusercontent.com"
              data-login_uri="https://barhive.net/account"
              data-auto_prompt="false">
          </div>
          <div class="g_id_signin"
              data-type="standard"
              data-size="large"
              data-theme="outline"
              data-text="sign_in_with"
              data-shape="rectangular"
              data-logo_alignment="left">
          </div>
        </a>
        <div class="or-line">
          <span class="or-span">
            or
          </span>
        </div>
      </div>
      <form class="login" action="/login" method="post">
        <input clas="login" type="email" id="email" name="email" placeholder="Email" value="{{ info['email'] }}" required
          autocomplete="on">
        <input class="login" type="password" id="password" name="password" placeholder="Password" value="{{ info['password'] }}"
          required autocomplete="on">
        <!-- error message handler -->
        <div class="message">
          {% if message %}
          <p class="message-m" style="color: red;">*Error: {{ message }} Click here to <a href="/register">Sign Up</a>
          </p>
          {% endif %}
        </div>
        <button type="submit" class="login-btn">Login</button>
      </form>
    </div>
    <div class="right-card">
      <h2>New Here?</h2>
      <span>Sign up to discover new and exciting places around you!</span>
      <a href="/register"><button class="signup-btn">Sign Up</button></a>
    </div>
  </div>
</body>

{% endblock %}