{% extends '_layout.html' %}

{% block body %}
<!-- login page -->
<link rel="stylesheet" href="/static/styles/login.css">

<body>
  <div class="login-card">
    <div class="left-card">
      <h2>Login to Your Account</h2>
      <div class="social-login">
        <span>Create an account using your social networks</span>
        <div class="social-buttons">
          <a href="google.com"><img class="google" src="/static/images/google_icon_1.webp" alt="google" width="55"
              height="55"></a>
          <a href="twitter.com"><img class="twitter" src="/static/images/twitter_icon_1.webp" alt="facebook" width="40"
              height="40"></a>
        </div>
        <div class="or-line">
          <span class="or-span">
            or
          </span>
        </div>
      </div>
      <form action="/login" method="post">
        <input type="text" id="username" name="username" placeholder="Username" value="{{ info['username'] }}" required>
        <input type="password" id="password" name="password" placeholder="Password" value="{{ info['password'] }}"
          required>
        {% if message %}
        <p class="message" style="color: red;">*Error: {{ message }}</p>
        {% endif %}
        <button type="submit" class="login-btn">Login</button>
      </form>
    </div>
    <div class="right-card">
      <h2>New Here?</h2>
      <span>Sign up to discover new and exciting places around you!</span>
      <a href="/register"><button class="signup-btn">Login</button></a>
    </div>
  </div>
</body>

{% endblock %}