{% extends '_layout.html' %}

{% block body %}
<link rel="stylesheet" href="/static/styles/login.css">
<!-- login page -->
{% if message %}
<p class="message" style="color: red;">Error: {{ message }}</p>
{% endif %}

<body>
  <section class="hero is-info is-fullheight">
    <!--  -->
    <div class="d-flex flex-column">
      <form action="/register" method="post">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" min="1" class="form-control" id="username" name="username" placeholder="Username" value="{% if username %}{{username}}{% endif %}" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" min="1" class="form-control" id="password" name="password" placeholder="Password" minlength="6" required>
        </div>
        <div class="mb-3">
          <label for="confirm_password" class="form-label">Confirm Password</label>
          <input type="password" min="1" class="form-control" id="confirm_password" name="confirm_password"
            placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-dark">Sign Up</button>
      </form>
    </div>
  </section>
</body>
{% endblock %}