{% extends '_layout.html' %}

{% block body %}

<!-- edit post title content or file -->
<link rel="stylesheet" href="/static/styles/settings.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Adding flash message -->
<!-- From bootstrap: https://getbootstrap.com/docs/5.3/components/alerts/ -->
{% for message in get_flashed_messages() %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor%}


{% if message %}
<p class="message" style="color: red;">Error: {{ message }}</p>
{% endif %}

<div class="page">
    <div class="d-flex flex-column">
        <form action="/account/edit" method="post" enctype="multipart/form-data">
            <!-- username -->
            <div class="username">
                <h3>{{ g.user.username }}</h3>
            </div>
            <!-- input for profile picture -->
            <div class="picture_upload">
                <div>
                    <img class="profile_pic" id="pfpimg"
                        src="{% if g.user.profile_pic %}{{ g.user.profile_pic }}{% else %}{{url_for('static', filename='images/default_pfp.png')}}{% endif %}"
                        alt="profile picture">
                </div>
                <div class="file-div">
                    <div class="upload-btn-wrapper-first">
                        <input name="profile_pic" type="file" id="myFileInput1"
                            accept="image/png, image/jpg, image/jpeg" style="display: none;">
                        <button class="file-btn"
                            onclick="document.getElementById('myFileInput1').click(); return false;">
                            <img class="upload-img" src="/static/images/upload_img_icon.png" alt="upload">
                        </button>
                        <span class="file-upload-label">Upload New Profile Picture</span>
                    </div>
                </div>
            </div>
            <div class="set_input">
                <!-- input for username -->
                <div class="section">
                    <div>
                        <label class="first_label" for="username">Business Name</label>
                        <label for="email">Business Email</label>
                    </div>
                    <!-- input for email -->
                    <div>
                        <input class="first_label" type="text" name="username" placeholder="Username"
                            value="{{ g.user.username }}">
                        <input type="text" name="email" placeholder="Email"
                            value="{% if g.user.email != None %}{{ g.user.email }}{% endif %}">
                    </div>
                </div>
                <!-- input for first name -->

                <!-- input for password -->
                <div class="section">
                    <div>
                        <label class="first_label" for="new_pass">New Password</label>
                        <label for="retype">Re-Type Password</label>
                    </div>
                    <div>
                        <input class="first_label" type="text" name="password" minlength="6">
                        <!-- input for confirm password -->
                        <input type="text" name="confirm_password">
                    </div>
                </div>
            </div>
            <!-- input for address -->
        <div class="set_input">
            <div class="section">
                <div>
                    <label class="first_label" for="address">Address</label>
                    <label for="city">City</label>
                </div>
                <!-- input for address and city -->
                <div>
                    <input class="first_label" type="text" name="address" placeholder="Address"
                        value="{% if g.user.address != None %}{{ g.user.address }}{% endif %}">
                    <input type="text" name="city" placeholder="City"
                        value="{% if g.user.city != None %}{{ g.user.city }}{% endif %}">
                </div>
            </div>
        </div>
            
                <div class="section">
                    <div>
                      <label class="first_label" for="state">State</label>
                    </div>
                    <div>
                      <select class="first_label" name="state" id="state" style="overflow: scroll;">
                        <option value="">{% if g.user.state != None %}{{ g.user.state }}{% endif %}</option>
                        <option value="AL"{% if g.user.state == "AL" %} selected{% endif %}>AL</option>
                        <option value="AK"{% if g.user.state == "AK" %} selected{% endif %}>AK</option>
                        <option value="AZ"{% if g.user.state == "AZ" %} selected{% endif %}>AZ</option>
                        <option value="AR"{% if g.user.state == "AR" %} selected{% endif %}>AR</option>
                        <option value="CA"{% if g.user.state == "CA" %} selected{% endif %}>CA</option>
                        <option value="CO"{% if g.user.state == "CO" %} selected{% endif %}>CO</option>
                        <option value="CT"{% if g.user.state == "CT" %} selected{% endif %}>CT</option>
                        <option value="DE"{% if g.user.state == "DE" %} selected{% endif %}>DE</option>
                        <option value="FL"{% if g.user.state == "FL" %} selected{% endif %}>FL</option>
                        <option value="GA"{% if g.user.state == "GA" %} selected{% endif %}>GA</option>
                        <option value="HI"{% if g.user.state == "HI" %} selected{% endif %}>HI</option>
                        <option value="ID"{% if g.user.state == "ID" %} selected{% endif %}>ID</option>
                        <option value="IL"{% if g.user.state == "IL" %} selected{% endif %}>IL</option>
                        <option value="IN"{% if g.user.state == "IN" %} selected{% endif %}>IN</option>
                        <option value="IA"{% if g.user.state == "IA" %} selected{% endif %}>IA</option>
                        <option value="KS"{% if g.user.state == "KS" %} selected{% endif %}>KS</option>
                        <option value="KY"{% if g.user.state == "KY" %} selected{% endif %}>KY</option>
                        <option value="LA"{% if g.user.state == "LA" %} selected{% endif %}>LA</option>
                        <option value="ME"{% if g.user.state == "ME" %} selected{% endif %}>ME</option>
                        <option value="MD"{% if g.user.state == "MD" %} selected{% endif %}>MD</option>
                        <option value="MA"{% if g.user.state == "MA" %} selected{% endif %}>MA</option>
                        <option value="MI"{% if g.user.state == "MI" %} selected{% endif %}>MI</option>
                        <option value="MN"{% if g.user.state == "MN" %} selected{% endif %}>MN</option>
                        <option value="MS"{% if g.user.state == "MS" %} selected{% endif %}>MS</option>
                        <option value="MO"{% if g.user.state == "MO" %} selected{% endif %}>MO</option>
                        <option value="MT"{% if g.user.state == "MT" %} selected{% endif %}>MT</option>
                        <option value="NE"{% if g.user.state == "NE" %} selected{% endif %}>NE</option>
                        <option value="NV"{% if g.user.state == "NV" %} selected{% endif %}>NV</option>
                        <option value="NH"{% if g.user.state == "NH" %} selected{% endif %}>NH</option>
                        <option value="NJ"{% if g.user.state == "NJ" %} selected{% endif %}>NJ</option>
                        <option value="NM"{% if g.user.state == "NM" %} selected{% endif %}>NM</option>
                        <option value="NY"{% if g.user.state == "NY" %} selected{% endif %}>NY</option>
                        <option value="NC"{% if g.user.state == "NC" %} selected{% endif %}>NC</option>
                        <option value="ND"{% if g.user.state == "ND" %} selected{% endif %}>ND</option>
                        <option value="OH"{% if g.user.state == "OH" %} selected{% endif %}>OH</option>
                        <option value="OK"{% if g.user.state == "OK" %} selected{% endif %}>OK</option>
                        <option value="OR"{% if g.user.state == "OR" %} selected{% endif %}>OR</option>
                        <option value="PA"{% if g.user.state == "PA" %} selected{% endif %}>PA</option>
                        <option value="RI"{% if g.user.state == "RI" %} selected{% endif %}>RI</option>
                        <option value="SC"{% if g.user.state == "SC" %} selected{% endif %}>SC</option>                            <option value="SD"{% if g.user.state == "SD" %} selected{% endif %}>SD</option>
                        <option value="TN"{% if g.user.state == "TN" %} selected{% endif %}>TN</option>
                        <option value="TX"{% if g.user.state == "TX" %} selected{% endif %}>TX</option>
                        <option value="UT"{% if g.user.state == "UT" %} selected{% endif %}>UT</option>
                        <option value="VT"{% if g.user.state == "VT" %} selected{% endif %}>VT</option>
                        <option value="VA"{% if g.user.state == "VA" %} selected{% endif %}>VA</option>
                        <option value="WA"{% if g.user.state == "WA" %} selected{% endif %}>WA</option>
                        <option value="WV"{% if g.user.state == "WV" %} selected{% endif %}>WV</option>                            <option value="WI"{% if g.user.state == "WI" %} selected{% endif %}>WI</option>
                        <option value="WY"{% if g.user.state == "WY" %} selected{% endif %}>WY</option>
                      </select>
                    </div>
                  </div>
            </div>


            <!-- text area for bio -->
            <div class="input_bio">
                <label for="about_me">About Me</label>
                <textarea name="about_me">{% if g.user.about_me != None %}{{ g.user.about_me }}{% endif %}</textarea>
            </div>
            <!-- input for banner picture -->
            <div class="picture_upload">
                <div>
                    <img class="banner_pic" id="bnrimg"
                        src="{% if g.user.banner_pic %}{{ g.user.banner_pic }}{% else %}{{url_for('static', filename='images/default_banner.png')}}{% endif %}"
                        alt="banner picture">
                </div>
                <div class="file-div">
                    <div class="upload-btn-wrapper-last">
                        <input name="banner_pic" type="file" id="myFileInput2" accept="image/png, image/jpg, image/jpeg"
                            style="display: none;">
                        <button class="file-btn"
                            onclick="document.getElementById('myFileInput2').click(); return false;">
                            <img class="upload-img" src="/static/images/upload_img_icon.png" alt="upload">
                        </button>
                        <span class="file-upload-label">Upload New Banner</span>
                    </div>
                </div>
            </div>


            <!-- button for post -->
            <div class="buttons">
                <div class="post">
                    <button class="button" type="submit">Save</button>
                </div>
        </form>
        <form action="/account">
            <button class="button" type="submit">Back</button>
        </form>
        <form action="/logout">
            <button class="button" id="logout" type="submit">Logout</button>
        </form>

        <!-- Delete User -->
        <form action="/account/{{g.user.user_id}}/delete" method="get"> 
            <button type="submit" class="btn btn-danger" name="delete" value="delete">Delete</button>
        </form>

    </div>
</div>
<script>
    $("#myFileInput1").change(function (e) {

        for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {

            var file = e.originalEvent.srcElement.files[i];

            var img = document.getElementById("pfpimg");
            var reader = new FileReader();
            reader.onloadend = function () {
                img.src = reader.result;
            }
            reader.readAsDataURL(file);
            $("myFileInput1").after(img);
        }
    });
    $("#myFileInput2").change(function (e) {

        for (var i = 0; i < e.originalEvent.srcElement.files.length; i++) {

            var file = e.originalEvent.srcElement.files[i];

            var img = document.getElementById("bnrimg");
            var reader = new FileReader();
            reader.onloadend = function () {
                img.src = reader.result;
            }
            reader.readAsDataURL(file);
            $("myFileInput2").after(img);
        }
    });
</script>

{% endblock %}