{% block business_body %}

<link rel="stylesheet" href="/static/styles/business_profile.css">
<!-- business body -->

<body>
    <section class="">
        <div class="container">
            <div class="secondary-container">
                <div class="header">
                    <div class="banner">
                        <img src="/static/images/sample_banner1.jpg" alt="banner">
                    </div>
                    <div class="z-2 rounded-3 avatar">
                        <img src="/static/images/barhops_logo.png" alt="">
                    </div>
                    <div class="bottom">
                        <div class="links">
                            <a href="/account">REVIEWS</a>
                            <a href="/account">EVENTS</a>
                            <span id="rating">
                                <img src="/static/images/filled-star_blue.png" alt="star" width="25" height="25">
                                <img src="/static/images/filled-star_blue.png" alt="star" width="25" height="25">
                                <img src="/static/images/filled-star_blue.png" alt="star" width="25" height="25">
                                <img src="/static/images/filled-star_blue.png" alt="star" width="25" height="25">
                                <img src="/static/images/empty-star_blue.png" alt="star" width="25" height="25">
                            </span>
                            <a href="/account">FEATURES</a>
                            <a href="/account">MENU</a>
                        </div>
                        <div class="title pt-3">
                            <h1 class="title">
                                {{ user.username }}
                            </h1>
                        </div>
                        <div class="subtitle">
                            <p>Elevate your spirits with our craft cocktails.</p>
                        </div>
                        <div class="description">
                            {% if user.about_me %}
                            {{ user.about_me }}
                            {% else %}
                            <p>Welcome to our luxurious cocktail venue! We offer a unique and unforgettable experience
                                for cocktail
                                enthusiasts. Our expert mixologists have crafted a menu of exquisite cocktails made with
                                premium
                                spirits and fresh, high-quality ingredients. Relax, unwind and indulge in our signature
                                cocktails in
                                our cozy and elegant venue. Come join us and discover the art of mixology in our stylish
                                cocktail haven.</p>
                            {% endif %}
                        </div>
                        <div class="follow">
                            <button id="follow-btn" class="btn" type="submit">Follow</button>
                        </div>

                    </div>
                </div>
                <div class="posts">

                </div>
            </div>
        </div>
    </section>
</body>

{% endblock %}