{% block business_body %}

<link rel="stylesheet" href="/static/styles/business_profile.css">
<!-- business body -->

<body>
    <section class="">
        <div class="container">
            <div class="secondary-container">
                <div class="header">
                    <div class="banner">
                        <img src="{% if user.banner_pic %}{{ user.banner_pic }}{% else %}{{url_for('static', filename='images/default_banner.png')}}{% endif %}" alt="banner_pic">
                    </div>
                    <div class="z-2 rounded-3 avatar">
                        <img src="{% if user.profile_pic %}{{ user.profile_pic }}{% else %}{{url_for('static', filename='images/default_pfp.png')}}{% endif %}" alt="profile_pic">
                    </div>
                    <div class="bottom">
                        <div class="links">
                            <a href="/account">REVIEWS</a>
                            <a href="/account">EVENTS</a>
                            <span id="rating">
                                {% for r in range(rating) %}
                                <img src="/static/images/filled-star_blue.png" alt="star" width="25" height="25">
                                {% endfor %}
                                {% for r in range(5-rating) %}
                                <img src="/static/images/empty-star_blue.png" alt="star" width="25" height="25">
                                {% endfor %}
                            </span>
                            <a href="/account">FEATURES</a>
                            <a href="/account">MENU</a>
                        </div>
                        <div class="title pt-3">
                            <h1 class="title">
                                {{ user.username }}
                            </h1>
                        </div>
                        <div class="subtitle">
                            <p>Nothing here...</p>
                        </div>
                        <div class="description">
                            {% if user.about_me %}
                            {{ user.about_me }}
                            {% else %}
                            <p>Nothing here...</p>
                            {% endif %}
                        </div>
                        <div class="follow">
                            {% if is_Following == True %}
                                <form class="profile-links1" action='/unfollow/{{ user.user_id}}' method="POST">
                                <a href="/user/{{ user.user_id }}/followers">{{ followers_num }} Followers</a>
                                <button id="follow-btn" class="btn" type="submit">Following</button>
                                </form>
                            {% else %}
                                <form class="profile-links" action='/follow/{{ user.user_id}}' method="POST">
                                <a href="/user/{{ user.user_id }}/followers">{{ followers_num }} Followers</a>
                                <button id="follow-btn" class="btn" type="submit">+ Follow</button>
                                </form>
                            {% endif %}
                        </div>

                    </div>
                </div>
                <div class="posts">

                </div>
            </div>
        </div>
    </section>
    {% if followerBool %}
        <div class="container">
                <p>Followers Page</p>
            {% for follower in followers %}
                <a class="follower-data" href="/user/{{ follower.user_id }}">
                    <img src="{% if g.user.profile_pic %}{{ follower.profile_pic }}{% else %}{{url_for('static', filename='images/default_pfp.png')}}{% endif %}"alt="profile_pic">
                    <p class="username" id="user">{{ follower.username }}</p>
                </a>
            {% endfor %}
            {% endif %}
        </div>
</body>

{% endblock %}