{% block user_body %}

<link rel="stylesheet" href="/static/styles/user_profile.css">
<!-- user body -->

<body>
    <section class="">
        <div class="container">
            <div class="secondary-container">
                <div class="header">
                    <div class="banner">
                        <img src="{% if user.banner_pic %}{{ user.banner_pic }}{% else %}{{url_for('static', filename='images/default_banner.png')}}{% endif %}"
                            alt="banner_pic">
                    </div>
                    <div class="z-2 avatar">
                        <img src="{% if user.profile_pic %}{{ user.profile_pic }}{% else %}{{url_for('static', filename='images/default_pfp.png')}}{% endif %}"
                            alt="profile_pic">
                    </div>
                    <div class="bottom">
                        <div class="mid-container">
                            <div class="profile-name">
                                <h3 class="">{{ user.username }} </h3>
                            </div>
                            {% if is_Following == True %}
                                <form class="profile-links1" action='/unfollow/{{ user.user_id}}' method="POST">
                                <a href="/user/{{ user.user_id }}/followers">{{ followers_num }} Followers</a>
                                <button id="follow-btn" class="btn" type="submit">Following</button>
                                </form>
                            {% else %}
                                <form class="profile-links" action='/follow/{{ user.user_id}}' method="POST">
                                <a href="/user/{{ user.user_id }}/followers">{{ followers_num }} Followers</a>
                                <button id="follow-btn" class="btn" type="submit">+ Follow</button>
                                </form>
                            {% endif %}
                            
                        </div>
                        {% if user.private %}
                        <div class="description">
                            <p>This account is private.</p>
                        </div>
                        {% else %}
                        <div class="description">
                            {% if user.about_me %}
                            {{ user.about_me }}
                            {% else %}
                            <p>Nothing here...</p>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

{% endblock %}