{% extends '_layout.html' %}

{% block body %}
{% if user.private == false %}
<body>
    <section class="hero is-success is-fullheight">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    {% if user.first_name and user.last_name %}
                    {{ user.first_name }} {{ user.last_name }}'s Profile
                    {% else %}
                    {{ user.username }}
                    {% endif %}
                </h1>
                <h2 class="subtitle">
                    {% if user.about_me %}
                    {{ user.about_me }}
                    {% else %}
                    This user has not written a bio yet.
                    {% endif %}
                </h2>
                <!-- <h2 class="subtitle">
                    You are user number #{{ user.user_id }}
                </h2> -->
            </div>
        </div>
    </section>
</body>
{% else %}
<p>This users profile is private.</p>
{% endif %}

{% endblock %}