{% block user_body %}

<link rel="stylesheet" href="/static/styles/user_profile.css">
<!-- user body -->

<body>
    <section class="">
        <div class="container">
            <div class="secondary-container">
                <div class="header">
                    <div class="banner">
                        <img src="{% if user.banner_pic %}{{ user.banner_pic }}{% else %}{{url_for('static', filename='images/defualt_banner.png')}}{% endif %}"
                            alt="banner_pic">
                    </div>
                    <div class="z-2 avatar">
                        <img src="{% if user.profile_pic %}{{ user.profile_pic }}{% else %}{{url_for('static', filename='images/default_pfp.png')}}{% endif %}"
                            alt="profile_pic">
                    </div>
                    <div class="bottom">
                        <div class="mid-container">
                            <div class="profile-name">
                                <h3 class="">{{ user.username }} </h3>
                            </div>
                            <form class="profile-links" action='/follow/{{ user.user_id}}' method="POST">
                            <a href="/user/{{ user.user_id }}/followers">{{ followers_num }} Followers</a>
                            <button id="follow-btn" class="btn" type="submit">+ Follow</button>
                            </form>
                        </div>

                        <div class="description">
                            {% if user.about_me %}
                            {{ user.about_me }}
                            {% else %}
                            <p> Hi there, my name is {{ user.username }} and I’m a freelance writer and avid traveler. I
                                love exploring new places and immersing
                                myself in different cultures, which often inspires my writing. When I’m not traveling, I
                                enjoy spending time outdoors hiking,
                                practicing yoga, or simply enjoying a good book in the park. I’m also a bit of a foodie
                                and love trying new restaurants and
                                experimenting with new recipes in the kitchen. Overall, I’m a curious and adventurous
                                person who enjoys experiencing all that
                                life has to offer.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

{% endblock %}