body {
    background-color: #EFEFEF;
}

/* Style for Navigation Bar */
nav {
    background-color: #57A1BD; 
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* padding: 10px; */
}

header {
    color: white !important;
    /* list-style: none; */
    /* margin: 0; */
    /* padding: 0; */
    /* display: flex; */
    /* align-items: center; */
}

nav a {
    color: #FFFFFF; /* White Text Color */
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #5592a8; /* Darker Blue Background Color on Hover */
}

/* Style for Footer */
footer {
    background-color: #57A1BD; /* Blue Background Color */
    padding: 10px;
    color: #FFFFFF; /* White Text Color */
    text-align: center;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
}
