:root {
    --bg: #EFEFEF; /* #575757 dark */
    --primary: #57A1BD; /* #383838 dark */
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
}

/* :root:has(#darkModeToggle[value="on"]) {
    --bg: #575757;
    --primary: #383838;
} */

:root:has(#darkModeToggle:checked) {
    --bg: #575757;
    --primary: #383838;
}

body { 
    background-color: var(--bg);
    font-family: sans-serif;
    /* this changes the font for every page extended by layout */
}

/* Style for Navigation Bar */
nav {
    background-color: var(--primary);
}

header {
    color: white;
    z-index: 9999;
}

nav a {
    color: #FFFFFF;
    /* White Text Color */
    font-family: Poppins, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
}

nav img {
    height: 75%;
}

/* Style for Footer */
footer {
    background-color: var(--primary);
    /* Blue Background Color */
    padding: 10px;
    color: #FFFFFF;
    /* White Text Color */
    text-align: center;
    font-size: 14px;
    position: flex;
    bottom: 0;
    width: 100%;
    height: 20rem;
}

.my-container {
    padding-top: 3.5rem;
    padding-bottom: 3rem;
}

#search {
    font-family: Poppins, sans-serif;
}

.search-container{
    width: 300px;
}

input.transparent-input{
    background-color:rgba(255, 255, 255, 0) !important;
    color: rgb(255, 255, 255) !important;
    border-width: 1px 0px 1px 1px  !important;
    border-color: #FFFFFF !important;
    font-size: 14px;
 }

input.transparent-input::placeholder { 
    color: rgb(255, 255, 255);
    opacity: 1;
}

.btn-outline-light{
    border-width: 1px 1px 1px 0px  !important;
}



  


                                        /* SLIDER STYLING */
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  .toggle-switch {
    position: relative;
    width: 200px;
  }
  
  .toggle-switch  label {
    position: absolute;
    left: 13px;
    width: 100%;
    height: 100px;
    background-color: #575757;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .toggle-switch  input {
    position: absolute;
    display: none;
  }
  
  .slider {
    position: absolute;
    left: 1px;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.3s;
  }
  
 .toggle-switch input:checked ~ .slider {
    background-color: #EFEFEF;
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 13px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    box-shadow: inset 28px -4px 0px 0px #EFEFEF;
    background-color: #575757;
    transition: 0.3s;
  }
  
  .toggle-switch  input:checked ~ .slider::before {
    transform: translateX(95px);
    background-color: #575757;
    box-shadow: none;
  }