.links a:link {
    text-decoration: none;
    color: #57A1BD;
}

.links a:visited {
    text-decoration: none;
    color: #57A1BD;
}

.banner img {
    width: 100%;
    height: 300px;
}

.banner {
    height: 300px;
    object-fit: cover;
    object-position: bottom;
    overflow: hidden;
}

.avatar {
    object-fit: cover;
    overflow: hidden;
    object-position: center;
    width: 200px;
    height: 200px;
    border: 2px solid white;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -35%);
    filter: drop-shadow(1px 3px 3px rgb(177, 177, 177));
    z-index: 2;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.container {
    max-width: 1000px;
}

.header {
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 15px 15px;
    filter: drop-shadow(1px 3px 3px rgb(177, 177, 177));
}

.title {
    font-family: Poppins, sans-serif;
    text-align: center;
}

.links {
    font-family: Poppins, sans-serif;
    color: #57A1BD;
    display: flex;
    justify-content: space-between;
}

.bottom {
    padding: 3em;
}

.subtitle {
    font-family: Poppins, sans-serif;
    font-weight: 200;
    font-size: 24px;
    color: #7F7F7F;
    text-align: center;
}

.description {
    font-family: Poppins, sans-serif;
    color: #57A1BD;
    padding-top: 2em;
}

.follow {
    text-align: center;
    text-decoration: none;
    color: #57A1BD;
}

#follow-btn {
    font-family: Poppins, sans-serif;
    background-color: #57A1BD !important;
    color: white;
}

.setting_button {
    text-align: right;
}

.profile-links a:link {
    text-decoration: none;
    color: #57A1BD;
}

.profile-links a:visited {
    text-decoration: none;
    color: #57A1BD;
}

.profile-links1 a:link {
    text-decoration: none;
    color: #57A1BD;
}

.profile-links1 a:visited {
    text-decoration: none;
    color: #57A1BD;
}

.follower-data {
    margin:0;
    padding: 3% 11%;
    width:49%;
    display:inline-block;
}

.follower-container
{
    background-color: white;
    max-width: 976px;
    height: auto;
    margin: auto;
    margin-top: 0;
    margin-bottom: 5rem;
    border-radius: 15px;
    filter: drop-shadow(1px 3px 3px rgb(177, 177, 177));
    padding-left:0;
    padding-right:0;
    padding-top: 2rem;
    padding-bottom: 5rem;
    overflow: hidden;
}
.image-small
{
    border-radius:50% 50% 50% 50%;
    width:60px;
    height:60px;

}

.follower-name
{
    font: normal normal 700 18px/30px Poppins;
    color: #57A1BD;
    /* color: #535353; */
    text-decoration: none;
}

.follower-name:hover {
    /* color: #36A3C0; */
    color: #535353;
}

.title-icon{
    margin:0;
    padding: 1% 10%;
    width:100%;
    display:inline-block;
    text-align: center;
    font: normal normal 800 24px/36px Poppins;
    color: #555555;
}
