body
{
    font-family: sans-serif;
    
}
#title
{
    font-size: large;
    font-family: sans-serif;
}
#content
{
   font-size: medium; 
}
.post-card
{
    /*work with width*/
    max-width: 800px;
    height: auto;
    word-wrap: break-word;
    padding: 25px 40px;
    background-color: rgb(255, 255, 255);
    /* border: black solid 1px; */
    border-radius: 15px;
    filter: drop-shadow(1px 3px 3px rgb(177, 177, 177));
    margin: auto;
    margin-bottom: 1rem;
    
}
.post-card-container
{
    border-top:black solid 1px;
    display: flex;
    justify-content: end;
    padding:5px;
}
