#title {
    font-size: large;
    font-family: sans-serif;
}

#content {
    font-size: medium;
}

.post-card {
    /* work with width */
    max-width: 800px;
    height: auto;
    word-wrap: break-word;
    padding: 25px 40px;
    background-color: rgb(255, 255, 255);
    /* border: black solid 1px; */
    border-radius: 15px;
    filter: drop-shadow(1px 3px 3px rgb(177, 177, 177));
    margin: auto;
    margin-bottom: 1rem;
}

.post-card-container {
    border-top: black solid 1px;
    display: flex;
    justify-content: end;
    padding: 5px;
}

.landing-msg {
    padding: 5% 10%;
}

.welcome {
    font: normal normal 900 40px/50px Avenir;
    color: #57A1BD;
}

.join-btn {
    width: 150px;
    margin-top: 20px;
    padding: 15px;
    background-color: #EFEFEF;
    color: #57A1BD;
    font: normal normal 900 20px/15px Avenir;
    border: #57A1BD solid 2px;
    border-radius: 5px;
    cursor: pointer;
}

.join-btn:hover {
    background-color: #57A1BD;
    color: #EFEFEF;
}

.buisness-msg {
    text-align: right;
    padding: 5% 10%;
    width: 100%;
    background-color: #57A1BD;
}

.buisness-title {
    font: normal normal 900 60px/70px Avenir;
    color: white;
}

.buisness-text {
    font: normal normal normal 400 40px/50px Avenir;
    color: white;
}

.buisness-btn {
    width: 150px;
    margin-top: 20px;
    padding: 15px;
    background-color: #57A1BD;
    color: #EFEFEF;
    font: normal normal 900 20px/15px Avenir;
    border: #EFEFEF solid 2px;
    border-radius: 5px;
    cursor: pointer;
}

.buisness-btn:hover {
    background-color: #EFEFEF;
    color: #57A1BD;
}