/* need styling for index info */
.post-card
{
    width: 400px;
    height: auto;
    background-color: rgb(211, 211, 211);
    border: black solid 1px;
    margin:auto;
    
}
.post-card-container
{
    border-top:black solid 1px;
    background-color: rgb(50, 50, 51); 
    display: flex;
    justify-content: space-around;
    padding: 4px;
}
