.sidebar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #57A1BD;
    text-align: center;
}

.sidebar-list a:link {
    text-decoration: none;
    color: #57A1BD;
}

.sidebar-list a:visited {
    text-decoration: none;
    color: #57A1BD;
}


.sidebar-container {
    width: 300px;
    background-color: white;
    border-radius: 15px;
    border: 2px solid #57A1BD;
    filter: drop-shadow(1px 3px 3px rgb(177, 177, 177));
    padding: 2em;
}

.sidebar-header {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    color: #57A1BD;
}

.sidebar-header h1 {
    margin-bottom: 0;
}

.search {
    font-family: Poppins, sans-serif;
    margin: 1.5em 0;
}

.search input.transparent-input {
    background-color: rgba(255, 255, 255, 0) !important;
    color: rgba(87, 162, 189) !important;
    border-width: 1px 0px 1px 1px !important;
    border-color: #57A1BD !important;
}

.search input.transparent-input::placeholder {
    color: rgba(87, 162, 189, .5) !important;
    opacity: 1;
    font-size: 14px;
}

.sidebar-item {
    display: grid;
    row-gap: .75em;
    text-align: center;
}

.btn-primary {
    width: 70% !important;
    filter: drop-shadow(1px 3px 3px rgb(177, 177, 177));
    font-family: Poppins, sans-serif;
}

.btn-primary,
.btn-primary:visited {
    background-color: #57A1BD !important;
    border-color: #57A1BD !important;
}

.btn-primary:hover,
.btn-primary:active {
    background-color: #58adcb !important;
    border-color: #58adcb !important;
}

.divider {
    border-bottom: 2px solid #57A1BD;
}

.btn-post {
    background-color: rgba(255, 255, 255, 0);
    border-color: #57A1BD;
    color: #57A1BD;
    width: 100%;
    font-family: Poppins, sans-serif;
}

.btn-post:hover,
.btn-post:active {
    background-color: #23c3fc1c !important;
    border-color: #57A1BD !important;
    color: #57A1BD;
    outline: #57A1BD;
}

.btn-search {
    border-width: 1px 1px 1px 0 !important;
    border-color: #57A1BD !important;
}

.btn-search:hover {
    background-color: #23c3fc1c !important;
}

.icon-blue {
    color: #57A1BD;
}

#map {
    height: 225px;
}